<h1>Pixtr</h1>

<%= link_to "Create a New Gallery", new_gallery_path %>

<ul>
  <% @galleries.each do |gallery| %>
  <li>
  <%= link_to gallery.name, gallery %>
   -
   <%= gallery.description %>
   <%= button_to "Edit", edit_gallery_path(gallery) %>
   <%# <%= button_to "Delete", @gallery, method: :delete %>

   <form action="/galleries/<%= gallery.id %>" method="POST">
     <input type="hidden" name="_method" value="DELETE" />
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" /> 
     <div>
       <input type="submit" value="Delete gallery" />
     </div>
   </form>
   </li>
<% end %>
</ul>
